<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ConnectionType" value="" />
        <add key="Language" value="" />
        <add key="ServerName" value="192.168.0.5" />
        <add key="DbName" value="alparge" />
        <add key="DbUser" value="OtomasNET" />
        <add key="PassWord" value="ujMFcGLTUh8WJ5m7Fmhwe5UkHuuF+dxErWjsoezCf+g=" />
        <add key="Parameters" value="" />
        <add key="UserName" value="ADMIN" />
    </appSettings>
</configuration>